@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.navbar {
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 60px; /* Altura fija de la barra de navegación */
    background-color: rgba(40, 44, 52, 0.8); /* Color semitransparente */
    color: white;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center;
    padding: 15px 25px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    box-sizing: border-box; /* Asegura que el padding no desborde */
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido completamente a la izquierda */
    flex: 0; /* No ocupa espacio adicional */
    cursor: pointer; /* Cambia el cursor al pasar sobre la barra */
    transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color del texto original */
}

.navbar-left:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}


.navbar-title {
    margin: 0;
    font-size: 1.9rem;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-family: "Pixelify Sans", sans-serif;
    text-decoration: none; /* Asegura que el texto no tenga subrayado */
    color: inherit; /* Usa el color predeterminado del texto */
}

.navbar-button {
    display: inline-block; /* Asegura que el enlace se comporte como un botón */
    background-color: #4caf50; /* Color de fondo verde */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 0.8rem; /* Tamaño de la fuente */
    text-align: center; /* Centra el texto */
    cursor: pointer; /* Cambia el cursor a una mano */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    width: auto; /* Asegura que el ancho se ajuste al contenido */
    overflow: hidden; /* Evita desbordamientos */
}

.navbar-button:hover {
    background-color: #2d7431; /* Color verde más oscuro al pasar el cursor */
}

.navbar-logout-button {
    background-color: #cc3b3b; /* Color del botón de Logout */
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.navbar-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.navbar-logo {
    width: 40px; /* Ajusta el tamaño del logo */
    height: 40px;
    margin-right: 10px; /* Espacio entre el logo y el título */
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
}

/* Estilo TypeWriter */
.typewriter {
    display: flex;
    justify-content: center;
  }
  
.typewriter p {
/*font-family: monospace;*
font-size: 1.5rem;*/
margin-inline: auto;
overflow: hidden;
/* Keeps on a single line */
white-space: nowrap;
/* The cursor */
border-right: 1px solid;
/* steps = number of characters */
animation: typing 3s steps(22) forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.navbar-profile span {
    overflow: hidden; /* Evita desbordamientos */
    text-overflow: ellipsis; /* Agrega "..." si el texto es demasiado largo */
    white-space: nowrap; /* Asegura que el texto esté en una sola línea */
}

/*Colores utilizados: azul oscuro clásico (#0A1828), turquesa (#178582), dorado (#BFA181)*/ 