/* Contenedor principal */
.related-object {
    border-radius: 8px;
  }
  
  /* Título centrado */
  .related-header {
    text-align: center;
  }
  
  .related-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Encabezado de las columnas */
  .related-columns-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #bfa181; /* Color dorado para los encabezados */
  }
  
  .related-column-id {
    flex: 1; /* Columna estrecha para el ID */
    text-align: center;
  }
  
  .related-column-name {
    flex: 3; /* Columna más amplia para el nombre */
    text-align: center;
  }
  
  /* Lista de objetos relacionados */
  .related-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado entre filas */
  }
  
  /* Fila de cada objeto relacionado */
  .related-row {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    /*padding: 5px 0;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Línea divisoria */
  }
  
  .related-row .related-column-id {
    flex: 1; /* Columna estrecha para el ID */
  }
  
  .related-row .related-column-name {
    flex: 3; /* Columna más amplia para el nombre */
  }
  .delete-button {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.related-column-action {
    text-align: center;
    width: 50px; /* Ajusta el ancho según sea necesario */
  }
  
  /* Botón de papelera */
 /* .delete-button {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .delete-button:hover {
    color: darkred;
  }*/

  .related-add {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .related-select {
    margin-right: 10px;
    padding: 5px;
  }
  
  .related-add-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .related-add-button:hover {
    background-color: #0056b3;
  }