@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.section-container {
    /*width: 80%; /* Ocupa todo el ancho disponible */
    max-width:  70vw; /* Ancho máximo de 90vw */;
    /*overflow-x: auto; /* Habilita el scroll horizontal */
    padding-top: 1rem; /* Espaciado interno */
    /*box-sizing: border-box; /* Incluye el padding en el tamaño total */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.section-container-management {
    /*display: flex; /* Usa Flexbox */
    /*justify-content: center; /* Centra horizontalmente */
    /*align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
    /*flex-direction: column; /* Asegura que los elementos internos se apilen verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 70vw; /* Limita el ancho máximo */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 1rem; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    margin-top: 5rem;

}

.section-header-management {
    display: flex; /* Usa Flexbox */
    /*justify-content: space-between; /* Coloca el título a la izquierda y el botón a la derecha */
    align-items: center; /* Alinea verticalmente el título y el botón */
    min-width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    margin-bottom: 20px; /* Espaciado inferior */
    
}


.card-wrapper {
    display: flex; /* Usa flexbox para alinear las Cards horizontalmente */
    /*gap: 20px; /* Espacio entre las Cards */
    overflow-x: auto; /* Habilita el scroll horizontal */
    scrollbar-width: thin; /* Estilo del scroll en navegadores compatibles */
    padding-bottom: 0.5rem; /* Espaciado para evitar que el scroll tape las Cards */
    margin: 0 auto; 
    
    text-align: center;
    /*padding: 14px;*/
    text-decoration: none;
  }

  .card-management-wrapper{
    display: grid; /* Cambia a Grid Layout */
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Espacio entre las tarjetas */
    max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    min-width: 80%;
    max-height: calc(5 * 150rem); /* Altura máxima para 5 filas (ajusta 15rem según la altura de tus tarjetas) */
    overflow-y: auto; /* Habilita el scroll vertical si hay más de 5 filas */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centra el texto dentro de las tarjetas */
    scrollbar-width: thin;
  }
  
.card-wrapper a:hover {
    background-color: #77777727;
  }

.section-title {
    font-family: Montserrat, Rubik, sans-serif; /* Fuente personalizada */
    font-size: clamp(1.5rem, 2.5vw, 2rem); /* Tamaño dinámico de la fuente */
    color: white;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 10px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el título ocupe todo el ancho del contenedor */
    min-width: 80%;
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    transition: transform 0.2s ease-in-out; /* Suaviza la transición */
}

.section-title:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }

.section-hr{
    width: 80%; /* Asegura que la línea ocupe todo el ancho del contenedor */
    border: 1px; /* Elimina el borde predeterminado */
    height: 1px; /* Altura de la línea */
    background-color: #BFA181; /* Color de la línea */
    margin: 30px auto; /* Espaciado superior e inferior y centra la línea */
}

.new-button {
    background-color: #4caf50; /* Color verde */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateX(-50px); 
    /*padding-left: 3rem;;*/
}

.new-button-management {
    background-color: #4caf50; /* Color verde */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateX(-50%, -50%); 
    /*padding-left: 3rem;;*/
}
.new-button-management:hover {
    background-color: #2d6e30; /* Color verde más oscuro al pasar el cursor */
}

.new-button:hover {
    background-color: #2d6e30; /* Color verde más oscuro al pasar el cursor */
}
.section-header {
    display: flex; /* Alinea el título y el botón en una fila */
    justify-content: space-between; /* Coloca el título a la izquierda y el botón a la derecha */
    align-items: center; /* Alinea verticalmente el título y el botón */
    /*margin-bottom: 20px; /* Espaciado inferior para separar del contenido */
    min-width: 80%;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto dentro del contenedor */
 
}

.centered-container img {
  max-width: 10rem;
  border-radius: 1rem; /* Bordes redondeados */
}