body {
    margin: 0; /* Elimina el margen predeterminado del body */
    font-family: Arial, sans-serif;
    
}

main {
    margin-top: 60px; /* Desplaza el contenido hacia abajo según la altura de la barra de navegación */
    /*padding: 20px; /* Opcional: agrega un padding para el contenido */
    width: 100vw; /* Asegura que el main ocupe todo el ancho de la ventana */

}

