@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.card {
    border: 1px solid #bbbbbba2;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(161, 161, 161, 0.1);
    
    background-color: rgba(255, 255, 255, 0.12); /* Color de fondo claro */
    color: #fff;
    margin: 10px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    height: auto;

    align-items: center;
    backdrop-filter: blur(10px); /* Desenfoque de fondo */

    word-wrap: break-word; /* Ajusta el texto que excede el ancho */
    overflow-wrap: break-word; /* Ajusta el texto que excede el ancho */
    white-space: normal; /* Permite que el texto se divida en varias líneas */

    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
    justify-content: flex-start; /* Alinea el contenido al inicio */
    flex: 0 0 auto; /* Asegura que las Cards no se reduzcan ni se expandan automáticamente */
}

.card .card-image{
    max-width: 50%;
    height: auto;
    /*margin-bottom: 10px;*/
    padding: 10px;
}

.card .card-title {
    font-family: Montserrat, sans-serif;
    font-size: clamp(0.8rem, 2.5vw, 1rem); /* Tamaño dinámico de la fuente */
    color: white;
    margin: 0;
    padding: 10px 0; /* Espaciado superior e inferior */

    margin-top: auto;
}

.card .card-description {
    font-family: Montserrat, sans-serif;
    font-size: clamp(0.5rem, 2vw, 0.8rem); /* Tamaño dinámico de la fuente */
    color: #c0c0c0;
    margin: 0;
    padding: 10px 0; /* Espaciado superior e inferior */
}

.card:hover{
    transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
    transition: transform 0.3s ease; /* Transición suave */
}